@import url(https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
:root {
  --main-color: #754ef9;
  --primary-color: #fff;
  --secondary-color: #333;
  --text-color: #333;
  --bg-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
}
.dark-mode {
  --primary-color: #0b061f;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 7%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.header.sticky {
  background: var(--main-color);
  box-shadow: 0 0.1rem 1rem var(--secondary-color);
}
.header .logo {
  font-size: 25px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 1000;
  cursor: default;
  margin-right: auto;
  opacity: 1;
  /* animation: slideRight 1s ease forwards;
  transition: 0.3s ease; */
}
.header .logo:hover {
  transform: scale(1.1);
}
.navbar a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 35px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.toggle {
  display: flex;
  margin-top: 1px;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 3.5s;
}
.toggle .toggle-icon {
  color: #fff;
  font-size: 24px;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--secondary-color);
  display: none;
}
/* SECTION HOME */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 7% 0;
}
span {
  color: var(--main-color);
}
.home-content {
  max-width: 440px;
}
.home-content h3 {
  font-size: 30px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 50px;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h2 {
  font-size: 30px;
  color: #754ef9;
  -webkit-text-stroke: 0.5px #fff;
  margin-bottom: 10px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.5s;
}
.home-content p {
  font-size: 1.6rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.5s;
  margin: 2rem 0 3rem;
  text-align: left;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--main-color);
  text-decoration: none;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 30px;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.social-media a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 768px;
  width: 768px;
  background-color: transparent;
  overflow: hidden;
}
.profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: yellowgreen;
  border-radius: 50%;
}
.profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.5s;
}
.home-img img {
  position: absolute;
  bottom: 30%;
  right: 1;
  left: 60%;
  width: 20%;
  pointer-events: none;
  border: 7px solid var(--main-color);
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.8s;
  transition: 0.2s ease;
}

.home-img img:hover {
  transform: scale(1.1);
}

/* SECTION ABOUT */
.about {
  width: 100%;
  height: 100vh;
  padding: 60px 7% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  margin-top: 5%;
  margin-left: 150px;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  text-align: left;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}
.about-content h2 {
  text-align: left;
}
.about-img img {
  border-radius: 50%;
  height: 130%;
  width: 150%;
  bottom: 150%;
  border: 7px solid var(--main-color);
  border-radius: 50%;
  transition: 0.2s ease;
}

.about-img img:hover {
  transform: scale(1.1);
}
/* EDUCATION SECTION */
.education {
  width: 100%;
  height: 100vh;
  padding: 60px 7% 0;
}
.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.education .education-box {
  flex: 1 1 20rem;
  background: var(--primary-color-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--secondary-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transform: 0.5s ease;
}

.education .education-box:hover {
  box-shadow: 0 0.1rem 2rem var(--secondary-color);
  transform: scale(1.02);
}

.education-box h3 {
  font-size: 1.6rem;
}
.education-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.education {
  min-height: auto;
  padding: 7rem;
}
.education h2 {
  margin-bottom: 3rem;
}

.education-box h3:hover {
  color: var(--main-color);
}

/*SECTION SKILLS */
.skills {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 50px 7% 0;
}

.skill-main {
  margin-right: 15%;
  margin-top: 17%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skill-bar {
  margin-bottom: 2.5rem;
}

.skill-main h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.skills .main-text .heading {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 225%;
  margin-top: 20%;
  margin-bottom: 3rem;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  border-radius: 25px;
  box-shadow: var(--secondary-color);
}

.skill-bar .bar .html {
  width: 70%;
  animation: html 2s;
}
.skill-bar .bar .css {
  width: 65%;
  animation: css 3s;
}
.skill-bar .bar .javascript {
  width: 75%;
  animation: javascript 4s;
}
.skill-bar .bar .react {
  width: 60%;
  animation: react 5s;
}

/* SKILL RIGHT */
.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 60px 0;
  flex: 1 1 15rem;
  margin-top: 10%;
}

.box .text {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1rem;
}

.box .text big {
  font: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
}

.circle .points {
  width: 2px;
  height: 10ps;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * 120deg)) translateY(-45px);
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

/* SECTION PROJECTS */
.projects {
  width: 100%;
  height: 100vh;
  padding: 60px 7% 0;
}

.projects .heading {
  text-align: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.projects .projects-container .projects-box {
  position: relative;
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), var(--main-color));
  color: var(--primary-color);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
}
/* To return to the previous state */
.projects-box:hover .projects-layer {
  opacity: 1;
}

.projects-layer h4 {
  font-size: 3rem;
}

.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.projects-layer a i {
  font-size: 2rem;
  color: #333;
}

/* SECTION PROJECTS */
.contact {
  width: 100%;
  height: 100vh;
  padding: 60px 7% 0;
}
.contact .heading {
  margin-top: 40px;
}

.input-box {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 2rem; */
}

.contact form {
  max-width: 70rem;
  margin: 0.5rem auto;
  text-align: center;
  margin-bottom: rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  margin: 0.5rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--main-color);
}

.contact form .input-box input {
  width: 49%;
  margin-right: auto;
  margin-left: auto;
}

.contact form textarea {
  resize: none;
  height: 30vh;
  width: 100%;
}

.contact form .btn {
  margin-top: 2rem;
  padding: 12px 28px;
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  cursor: pointer;
}
.contact form .btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

/* SECTION FOOTER */
.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 40px 0;
  background: var(--main-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--primary-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--primary-color);
  color: var(--main-color);
}

.footer ul li a {
  color: var(--primary-color);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--primary-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: var(--primary-color);
}

/* BRAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home .professional-container {
    height: 85.8rem;
  }

  .home .professional-container .overlay {
    right: -9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  .home .professional-container .overlay {
    right: -15rem;
  }
  .home .home-img img {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profession-container .overlay {
    right: -39rem;
  }
  .home-img img {
    display: none;
  }
  .education,
  .skills {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--primary-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--main-color);
  }

  .home {
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h3 {
    /* font-size: 2.6rem; */
  }

  .home-content h1 {
    font-size: 5rem;
  }

  /* About section */
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    bottom: 150%;
    border: 7px solid var(--main-color);
    border-radius: 50%;
    transition: 0.2s ease;
  }

  .about-img img {
    border-radius: 50%;
    border: 7px solid var(--main-color);
    border-radius: 50%;
    transition: 0.2s ease;
    margin-top: 40px;
  }
  .about-content {
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .about-content h2 {
    text-align: center;
  }
}

/* KEYFRAM ANIMATIONS */
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100%px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes glow {
  0% {
    background-color: var(--main-color);
    box-shadow: none;
  }
  100% {
    background: yellowgreen;
    box-shadow: burlywood;
  }
}
